<div id="wrapper">

    <strong style="color:rgb(143, 69, 162); font-size:30px;">Base de dato actual:  </strong> <i style="font-size:25px;">{{DBActual}}</i>
    <!-- Sidebar -->
    <ul class="nav sidebar-nav">

        <li class="dropdown">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Seleccionar base de Dato a utilizar <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li (click)="cambioDb(d)" *ngFor="let d of datos">{{d.name}}</li>
            </ul>
        </li>
    </ul>
    <button *ngIf="dbSeleccionada" (click)="mostrarTablas()" class="btn btn-success">Mostrar tablas de base de dato actual.</button>

</div>

<div style="padding-top:2%;" *ngIf="tablasDB?.length == 0">
    <div class="alert alert-danger" role="alert">
        <strong>¿No aparece nada?</strong>
        <br>- Presione "Mostrar tablas de base de dato actual" para actualizar pantalla.
        <br>- No posee tablas creadas para visualizar.
        <br>- El usuario actual no posee privilegios para verlas.
    </div>
</div>

<div *ngIf="tablaSeleccionada == 'NULL'" style="padding-top:2%;">
    <div *ngIf="tablasDB?.length > 0" class="card-columns">
        <div class="card" *ngFor="let t of tablasDB" style="width: 18rem;">
            <div class="card-body" style="color:rgb(10, 41, 97)">
                <h5 class="card-title">Tabla {{t.TABLE_NAME}}</h5>
                <hr>
                <button (click)="usarTabla(t.TABLE_NAME)" class="btn btn-default">Utilizar tabla.</button>
            </div>
        </div>
    </div>
</div>
<br>

<div class="modal fade special-card" id="insertaModal" tabindex="-1" role="dialog" aria-labelledby="insertaModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="insertaModal">Ingrese los datos solicitados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group" *ngFor="let p of parametrosTabla; let i=index;">
                        <label class="col-form-label">{{p.COLUMN_NAME}}</label>
                        <input type="text" id="insert{{i}}" placeholder="insert{{i}}" class="form-control" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="closemodal" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="insertar()" class="btn btn-success">Insertar datos</button>
            </div>
        </div>
    </div>
</div>


<div *ngIf="tablaSeleccionada != 'NULL' " style="padding-top:2%; background-color:rgb(255, 255, 255)">
    <form style="padding-top:6px; padding-bottom:15px; padding-left:8px;">


        <div class="form-row">
            <div class="form-group col-md-2" style="padding-left:50px;">
                <label style="color:blue" for="inputEmail4">Alias a utilizar </label>
                <input type="text" [(ngModel)]="alias" name="alias" class="form-control">
            </div>
            <div class="form-group col-md-2" style="padding-left:50px;">
                <label style="color:blue" for="inputState">Esquemas disponibles.</label>
                <select id="inputState" class="form-control">
                      <option selected >-----------</option>
                      <option *ngFor="let sch of esquemadb">{{sch.SCHEMA_NAME}}</option>
                    </select>
            </div>
            <div class="form-group col-md-2" style="padding-left:50px;">
                <label style="color:blue" for="inputCity">Esquema a usar para el procedimiento</label>
                <input type="text" [(ngModel)]="esquemaProc" name="esquemaProc" class="form-control">
            </div>
            <div class="form-group col-md-2" style="padding-left:70px;">
                <label style="color:blue" for="inputState">Método a utilizar</label>
                <select id="metodoSelect" class="form-control">
              <option selected>Select</option>
              <option>Insertar</option>
              <option>Delete</option>
              <option>Update</option>
            </select>
            </div>
        </div>


        <div class="form-group" style="padding-left:12px; padding-top:2%;padding-right:70%;">
            <hr>
            <label style="color:blue">Query</label>
            <textarea class="form-control" id="query" rows="6" disabled [(ngModel)]="queryGenerado" name="queryGenerado"></textarea>
            <hr>
        </div>



        <div class="form-row">
            <div class="form-group col-md-2" style="padding-left:20px;">
                <button type="submit" (click)="genera()" class="btn btn-primary">Generar procedimiento.</button>
                <br><br>
                <button *ngIf="procediListo" type="submit" data-toggle="modal" data-target="#insertaModal" (click)="ejecutarInsert()" class="btn btn-primary">Ejecutar procedimiento Insertar.</button>
            </div>
        </div>

    </form>
    <br>
    <br>
    <br>

</div>